@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shiki-color-text: #888;
  --shiki-color-background: #fafafa;
  --shiki-token-constant: #444;
  --shiki-token-string: #444;
  --shiki-token-comment: rgba(153, 153, 153, 0.5);
  --shiki-token-keyword: #f81ce5;
  --shiki-token-parameter: #f5a623;
  --shiki-token-function: #0070f3;
  --shiki-token-string-expression: #444;
  --shiki-token-punctuation: #999;
  --shiki-token-link: #0070f3;
}

.dark {
  --shiki-color-text: #dcdcdc;
  --shiki-color-background: #333;
  --shiki-token-constant: #888;
  --shiki-token-string: #888;
  --shiki-token-comment: rgba(231, 231, 231, 0.5);
  --shiki-token-keyword: #f81ce5;
  --shiki-token-parameter: #f5a623;
  --shiki-token-function: #0070f3;
  --shiki-token-string-expression: #dcdcdc;
  --shiki-token-punctuation: #e7e7e7;
  --shiki-token-link: #0070f3;
}

body {
  min-height: 100%;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 45%, 0.2);
  background-clip: content-box;
  border: 3px solid transparent;
}
.scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 45%, 0.4);
}
.dark .scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 45%, 0.6);
}
.dark .scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 45%, 0.8);
}

pre > code {
  display: grid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 80px;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: 0.25em;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-400 dark:text-gray-400;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}
